<div *ngFor="let recipe of recipes; let i = index" style="margin: 5px;">
  <button class="btn btn-success form-control" type="button" (click)="onChange(i)" style="text-align:left"> {{recipe.name}} </button>
  <div *ngIf="isOpen[i]">
    <h3 style="text-align:center">Ingredients</h3>
    <hr>
    <li *ngFor="let ingredient of recipe.ingredients" class="form-control" style="margin-bottom:3px;">
      {{ingredient}}
    </li>
    <button type="button" class=" btn btn-primary" (click)="modal.open()">Edit</button> <button type="button" class="btn btn-danger" (click)="onDeleteRecipe(i)">Delete</button>
    <modal #modal>
      <modal-header [show-close]="true">
        <h4 class="modal-title">Edit Recipe</h4>
      </modal-header>
      <modal-body>
        <div class=" form-group">
          <label for="name">Recipe name</label>
          <input type="text" id="name" class="form-control" [value]="recipe.name" (ngModel)="newRecipeName">
        </div>
        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          <textarea rows="3" cols="" class="form-control" [value]="recipe.ingredients.join(',')" (ngModel)="newIngredientList"></textarea>
        </div>
      </modal-body>
      <modal-footer [show-default-buttons]="true"><button type="button" class="btn btn-success" (click)="onEditRecipe(i)">Edit</button></modal-footer>
    </modal>
  </div>
</div>
